@inherits LayoutComponentBase

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">ReactiveMvvm.Blazor</a>
    </div>
    <div>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Feedback
                </NavLink>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">Blazor</a>
        <a href="https://reactiveui.net/" target="_blank">ReactiveUI</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
